<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Needed for picking media via the system picker (Android 13+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- Needed so your launcher can see installed/launchable apps (Android 11+) -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:stateNotNeeded="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".wallpaper.RotatorWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/rotator_wallpaper" />
        </service>

    </application>
</manifest>
